* {
    margin: 0;
    padding:0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;;
}

/* banner */
#banner {
    background: linear-gradient(rgba(0,0,0,0.5),#009688), url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-content {
    text-align: center;
    padding-top: 180px;
}

.banner-content h1 {
    font-size: 130px;
}

.banner-content p {
    font-size: 20px;
    font-style: italic;
}

.banner-button {
    margin: 70px auto 0;
}

.banner-button a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: 0.5px solid white;
    transition: color 0.5s ;
    position: relative;
    z-index: 1;
}

.banner-button a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:white;
    z-index: -1;
    transition: 0.5s;
}

.banner-button a:hover span {
    width: 100%;
}

.banner-button a:hover {
    color: black;
}

/* sideNav */
#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 250px;
    background: #009688;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#navButton {
    width: 50px;
    height: 50px;
    background-color: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#navButton img {
    width: 20px;
    margin-top: 15px;
}

/* features */
#feature {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578,white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px;
}

.title-text h1 {
    font-size: 50px;
}

.feature-content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
}

.features {
    flex:30%;
    padding-top: 90px;
}


.feature-img img {
    position: relative;
    width: 60%;
    border-radius: 10px;
    right: -55px;
}

.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .bi {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
}

.content-text {
    text-align: initial;
    padding: 0 20px;
}

/* services */
#services {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.services-content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.service-img {
    flex-basis: 48%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}

.service-img img {
    width: 100%;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}

.service-img:hover .overlay {
    opacity: 1;
}

.hidden-text {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 10%;
    opacity: 0;
    transform: translateX(-50);
    transition: 1s;
}

hr {
    background: white;
    height: 2px;
    border: 0;
    max-resolution: 15px auto;
    width: 60%;
}

.hidden-text p {
    font-size: 14px;
}

.service-img:hover .hidden-text {
    bottom: 40%;
    opacity: 1;
}

/* testimonial */
#testimonial {
    width: 100%;
    padding: 70px 0;
}

.testimonial-content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-text {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px;
    cursor: pointer;
    transition: transform .5s;
}

.testimonial-text p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .bi {
    font-size: 20px;
    color: #009688;
    margin-left: 10px;
}

.user-info small {
    color: #009688;
}

.testimonial-text:hover{
    transform: translateY(10px);
}

/* footer */
#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-content p{
    line-height: 35px;
}

.footer-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%,-50%);
}

.social-links {
    text-align: center;
    line-height: 45px;
    font-size: 12px;
}

.footer-left .bi , .footer-right .bi {
    color: #009688;
    font-size: 20px;
    margin: 10px;
}

.social-links .bi {
    color: #009688;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.social-links .bi:hover {
    color: orange; 
    transition: 0.5s;
}

